.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-primary {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #34568B;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #B0C4DE;
}
